@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@mixin clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
}

$click: #1e70cd;

//constants
.sidebar_menu {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.15s ease-in-out;
}
.sidebar_menu:focus {
  outline: none;
}
.spec {
  padding-top: 0.7rem;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-danger {
  background-color: #d9534f !important;
}
.bg-warning {
  background-color: #ffd950 !important;
}
.bg-primary {
  background-color: #775cdc !important;
}
.bg-info {
  background-color: #28c3d7 !important;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.small,
small {
  font-size: 85%;
  font-weight: 400;
}
.opacity-75 {
  opacity: 0.75 !important;
}
.opacity-25 {
  opacity: 0.25 !important;
}
.text-xlarge {
  font-size: 170% !important;
}
.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.filter-control {
  height: calc(1.5em + 0.376rem + 2px);
}
.f-select {
  padding: 0 1.75rem 0 0.75rem;
}
.p-s-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.datepicker-control {
  display: flex;
  justify-content: center;
  align-items: center;

  .react-datepicker-wrapper {
    margin-right: 10px;
  }
}
.text-light {
  color: #babbbc !important;
}
.text-lightest {
  color: #e8e8e9 !important;
}
.text-danger {
  color: #d9534f !important;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  opacity: 0.1;
}
.text-right {
  text-align: right !important;
}
.alert-dark-warning {
  background-color: #ffd950;
  color: #665720;
}
.alert-dark-danger {
  background-color: #d9534f;
  color: #fff;
}
.alert-dark-success {
  background-color: #02bc77;
  color: #fff;
}
.badge {
  font-weight: 400;
}
.badge-warning {
  background-color: #ffd950;
  color: #665720;
}
.badge-danger {
  background-color: #d9534f;
  color: #fff;
}
.badge-primary {
  background-color: #775cdc;
  color: #fff;
}
.badge-success {
  background-color: #02bc77;
  color: #fff;
}
.badge-outline-danger {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #d9534f;
  color: #d9534f;
}
.badge-outline-primary {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #775cdc;
  color: #775cdc;
}
.badge-outline-info {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #28c3d7;
  color: #28c3d7;
}
.loading-in-center {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.btn-xs {
  padding: 0 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.modal {
  .modal-body {
    font-size: 1rem;
  }
}

//btns
.btn-warning {
  color: #000;
  background-color: #ffd950;
  border-color: #ffd950;
}
.btn-primary {
  background: #775cdc;
  border-color: transparent;
  color: #fff;
}
.btn-primary:hover {
  background: #7157d1;
  border-color: #7157d1;
}
.btn-primary:focus {
  background: #7157d1;
  border-color: #7157d1;
}
.btn-primary:active {
  background: #7157d1;
  border-color: #7157d1;
}
.btn-outline-primary:active {
  background: #7157d1;
  border-color: #7157d1;
}
.btn-primary:disabled {
  background: #7157d1;
  border-color: #7157d1;
}
.btn-check:checked + .btn-outline-primary {
  background: #7157d1;
  border-color: #7157d1;
}
.btn-primary:focus,
.btn-outline-primary:focus {
  box-shadow: none;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-outline-primary {
  border-color: #775cdc;
  background: transparent;
  color: #775cdc;
}
.btn-outline-primary:hover {
  border-color: transparent;
  background: #775cdc;
  color: #fff;
}
.btn-default {
  border-color: rgba(24, 28, 33, 0.1);
  color: #4e5155;
}
.btn-default:hover {
  background: rgba(24, 28, 33, 0.06);
}
.btn-default {
  background: transparent;
}
.float-right {
  float: right !important;
}
////
.icon {
  margin-right: 0.5rem;
}
.card {
  border: none;
  word-wrap: normal;
}
.ui-w-30 {
  width: 30px !important;
  height: auto;
}
.ui-w-40 {
  width: 30px !important;
  height: auto;
}
.ui-w-50 {
  width: 70px !important;
  height: auto;
}
.ui-w-80 {
  width: 80px !important;
  height: auto;
}
.ml-3 {
  margin-left: 1rem !important;
}
.ml-4 {
  margin-left: 1.5rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;

  .btn,
  .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
    .btn {
      width: 100%;
    }
  }
}

.pull-right {
  float: right;
}
.ui-bordered {
  border: 1px solid rgba(24, 28, 33, 0.06);
}
.badge-count {
  display: flex;
  align-items: center;
}
.rounded-circle {
  border-radius: 50% !important;
}
.font-weight-bold {
  font-weight: 500 !important;
}
.container-p-y {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.text-tiny {
  font-size: 70% !important;
}
.form-switch .form-check-input {
  width: 3rem;
  height: 2rem;
}
.form-switch .form-check-label {
  margin-left: 0.5rem;
}
.sidenav-divider {
  width: 100%;
  border: 0;
  border-top: 1px solid;
  margin-bottom: 0.75rem;
  padding: 0;
  border-color: hsla(0, 0%, 100%, 0.06) !important;
}
.file-upload-btn {
  border: none;
  background: none;
  color: $click;
}
.form-check-label {
  cursor: pointer;
}
//login page - screens/Login.js
.login-form {
  width: 20%;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  form {
    padding: 1.5rem;
    border: solid #dee2e6;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    h3 {
      text-align: center;
      text-transform: uppercase;
    }

    button {
      width: 100%;
    }
  }
}

//home page - screens/Home.js
.layout-wrapper {
  display: flex;

  .layout-inner {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    flex: 1 1 auto;
    max-width: 100%;

    .layout-sidenav {
      background-color: #2f3337 !important;
      color: #9d9fa1;
      height: 100%;
      flex: 1 0 auto;

      .app-brand {
        padding-right: 1.75rem;
        padding-left: 1.75rem;
        padding-top: 1rem;
        height: 66px;

        span {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          a {
            text-decoration: none;
            font-size: 24px;
            color: #fff;
          }
        }
      }
      .sidenav-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        margin: 0;
        padding: 0;

        .sidenav-item {
          margin: 0.0625rem 0;
          width: 15.625rem;
          .sidenav-link {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0.75rem 2rem;
            color: #9d9fa1;
            text-decoration: none;
            border: none;
            background: transparent;
            width: 100%;
            cursor: pointer;
            transition-duration: 0.2s;
            transition-property: color, background-color;

            svg {
              margin-right: 0.5rem;
            }
            .badge-count {
              margin-left: 1.5rem;
            }
          }
          .sidenav-link:focus {
            outline: none;
          }
          .sidenav-link:hover {
            color: #fff;
          }
          .sidenav-toggle:after {
            right: 2rem;
            content: "";
            position: absolute;
            top: 50%;
            display: block;
            width: 0.42em;
            height: 0.42em;
            border: 1px solid;
            border-top: 0;
            border-right: 0;
            -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
            transition-duration: 0.2s;
            transition-property: -webkit-transform, transform;
            // transform: translateY(-50%) rotate(-45deg);
          }
          .sidenav-toggle.open:after {
            transform: translateY(-50%) rotate(-45deg);
          }
          .sidenav-menu {
            transition: background-color 0.2s;
            display: none;
            flex-direction: column;
            flex: 1 1 auto;
            margin: 0;
            padding: 0;
            .sidenav-item {
              .sidenav-link {
                padding-left: 4rem;
              }
              .sidenav-link:hover {
                color: #fff;
              }
            }
          }
          .sidenav-menu.open {
            display: flex;
          }
        }
        .sidenav-item.active {
          background-color: #393d41;
          .sidenav-link {
            color: #fff;
          }
        }
      }
    }
    .layout-container {
      display: flex;
      flex-basis: 100%;
      width: 0;
      min-width: 0;
      max-width: 100%;
      flex-direction: column;

      .layout-navbar {
        min-height: 66px;
      }

      //create order - Screens/Orders/CreateOrder.js
      .layout-content {
        .desc-editor {
          border: 1px solid #ccc;
          textarea {
            border: none;
          }
          .desc-footer {
            border-top: 1px solid #ccc;
            display: flex;
            justify-content: flex-end;
            button {
              font-size: 14px;
            }
          }
        }
        .add-order-btn {
          display: flex;
          justify-content: space-between;
          margin-top: 50px;
          button {
            width: 100%;
          }
        }
        .files-group {
          display: flex;
          flex-wrap: wrap;
          padding: 1rem 0;

          .file-element {
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            margin-right: 1rem;
            padding: 0.5rem;
            span {
              text-decoration: underline;
              color: $click;
            }
            button {
              border: none;
              background: none;
            }
          }
        }
        .order-type-btn-group {
          width: 100%;
          label a {
            text-decoration: none;
            color: #fff;
          }
        }
        .order-table-section {
          .row {
            margin-bottom: 0.5em;
          }
          .table-length {
            label {
              display: flex;
              align-items: center;
              select {
                width: auto;
                display: inline-block;
                margin: 0 0.5rem;
              }
            }
          }
          .table-search {
            label {
              display: flex;
              align-items: center;
              justify-content: flex-end;
            }
            input {
              width: auto;
              display: inline-block;
              margin-left: 0.5em;
            }
          }
          .table {
            th {
              font-size: 14px;
            }
          }
        }
        .order-section {
          .media {
            display: flex;
            align-items: center;
          }
          p {
            margin-top: 0;
            margin-bottom: 1rem;
            text-align: justify;
            white-space: pre-wrap;
          }
        }
        .cancel-order .form-group {
          margin-bottom: 0.5rem;
        }
        .content-chat {
          .media-body {
            flex: 1;
          }
        }
        .profile {
          .notification-tab {
            .checkbox-select,
            .w-checkbox-select {
              &.open {
                .select-input {
                  border-bottom: none;
                }
                .select-dropdown {
                  display: block;
                }
              }
              width: 100%;
              position: relative;
              .select-input {
                cursor: pointer;
                display: flex;
                align-items: center;
                min-height: 2.5rem;
                padding: 0.2rem 0.5rem;
                .checked-inline-options {
                  display: block;
                  box-sizing: border-box;
                  margin: 0;
                  width: 100%;
                  list-style: none;
                  padding: 0 0.375rem 0.375rem;
                }
                .checked-item {
                  background-color: rgba(24, 28, 33, 0.1);
                  color: #4e5155;
                  float: left;
                  padding: 0 0.5rem;
                  border-radius: 0.125rem;
                  line-height: 1.5rem;
                  cursor: default;
                  margin-top: 0.375rem;
                  margin-right: 0.375rem;
                  .checked-item__remove {
                    display: inline-block;
                    margin-right: 0.25rem;
                    color: inherit;
                    font-weight: 700;
                    opacity: 0.5;
                    cursor: pointer;
                  }
                }
              }
              .select-dropdown {
                display: none;
                position: relative;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                left: 0;
                right: 0;
                max-height: 12.5rem;
                overflow-y: auto;
              }

              .select-list {
                padding: 0;
                margin: 0;
                list-style: none;
              }
              .select-item {
                input {
                  margin-right: 0.5rem;
                }
                padding: 0.75rem;
                cursor: pointer;
                &.checked {
                  background-color: rgba(24, 28, 33, 0.06);
                }
                &:hover {
                  background-color: #775cdc !important;
                  color: #fff !important;
                  transition: 0.15s background-color ease-in;
                }
              }
            }
          }

          .with-errors .alert {
            margin: 1rem 1rem;
          }
          .with-errors .alert-whatsapp {
            margin: 1rem 0 !important;
          }
          .list-group {
            button:focus {
              outline: none;
            }
          }
          .account-settings-links .list-group-item.active {
            color: #4e5155 !important;
          }
          .list-group-flush:first-child .list-group-item:first-child {
            border-top: 0;
          }
          .account-settings-links .list-group-item {
            padding: 0.85rem 1.5rem;
            border-color: rgba(24, 28, 33, 0.1) !important;
          }
          .account-settings-links .list-group-item.active {
            background: transparent !important;
            font-weight: 700 !important;
          }
          .list-group-item + .list-group-item.active {
            margin-top: -1px;
            border-top-width: 0;
          }
          .profile-tabs {
            border-left: 1px solid rgba(24, 28, 33, 0.06);
          }
          .media {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: start;
            align-items: flex-start;
          }
          .media-body {
            -ms-flex: 1;
            flex: 1;
          }
          .account-settings-fileinput {
            position: absolute;
            visibility: inherit;
            width: 1px;
            height: 1px;
            opacity: 0;
          }
        }
        .dashboard-section {
          .tg-chart {
            position: relative;

            > canvas {
              z-index: 2;
            }

            .tg-chart-slider {
              position: relative;
              margin-bottom: 1rem;
              z-index: 1;

              &__right,
              &__left {
                transition: background 0.22s ease-in-out;
                background: #f5f9fb;
                opacity: 0.8;
                position: absolute;
                top: 0;
                bottom: 0;
              }

              &__left {
                left: 0;
              }

              &__right {
                right: 0;
              }

              &__arrow--left,
              &__arrow--right {
                position: absolute;
                top: 0;
                bottom: 0;
                transition: background 0.22s ease-in-out;
                background: #ddeaf3;
                width: 4px;
              }

              &__arrow--left {
                right: 0;
                cursor: w-resize;
              }

              &__arrow--right {
                left: 0;
                cursor: e-resize;
              }

              &__window {
                position: absolute;
                background: transparent;
                top: 0;
                bottom: 0;
              }
            }

            .tg-chart-tooltip {
              position: absolute;
              display: none;
              max-width: 200px;
              min-width: 120px;
              padding: 0.5rem;
              border-radius: 5px;
              border: 1px solid #dfe6eb;
              box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
              background: #fff;
              color: #000;
              overflow: hidden;
              z-index: 3;

              top: 50px;
              left: 100px;

              .tooltip-title {
                text-align: center;
                margin-bottom: 0.5rem;
                white-space: nowrap;
              }

              .tooltip-list {
                display: flex;
                flex-wrap: wrap;
                @include clear-list;
              }

              .tooltip-list-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;

                .name {
                  font-size: 0.8rem;
                }

                .value {
                  font-size: 1rem;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}

//Navbar - components/Navbar.js
.navbar-collapse {
  justify-content: flex-end;
  .dropdown {
    .dropdown-nav-button {
      background-color: transparent;
      border-color: transparent;
    }
    .dropdown-nav-button:focus {
      box-shadow: none;
    }
    .dropdown-menu-navbar {
      right: 0;
      left: auto;
    }
  }
}

@media (min-width: 576px) {
  .text-sm-right {
    text-align: right !important;
  }
}
@media (max-width: 991px) {
  .login-form {
    width: 90%;
  }
  .datepicker-control {
    display: block;
  }
  .layout-expanded .layout-sidenav {
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
  }
  .layout-sidenav {
    z-index: 1100;
  }
  .sidenav-vertical {
    transition: 0.2s;
  }
  .layout-sidenav {
    position: fixed !important;
    top: 0 !important;
    height: 100% !important;
    left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    will-change: transform, -webkit-transform;
  }
  .layout-overlay {
    z-index: 1099;
  }
  .layout-overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100% !important;
    left: 0;
    display: none;
    background: #181c21;
    opacity: 0.5;
    cursor: pointer;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
