@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
}

.spec {
  padding-top: 0.7rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  opacity: 0.1;
}

.alert-dark-warning {
  background-color: #ffd950;
  color: #665720;
}

.alert-dark-danger {
  background-color: #d9534f;
  color: #fff;
}

.alert-dark-success {
  background-color: #02bc77;
  color: #fff;
}

.badge {
  font-weight: 400;
}

.badge-warning {
  background-color: #ffd950;
  color: #665720;
}

.badge-danger {
  background-color: #d9534f;
  color: #fff;
}

.badge-primary {
  background-color: #775cdc;
  color: #fff;
}

.badge-success {
  background-color: #02bc77;
  color: #fff;
}

.badge-outline-danger {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 1px #d9534f;
          box-shadow: inset 0 0 0 1px #d9534f;
  color: #d9534f;
}

.badge-outline-primary {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 1px #775cdc;
          box-shadow: inset 0 0 0 1px #775cdc;
  color: #775cdc;
}

.badge-outline-info {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 1px #28c3d7;
          box-shadow: inset 0 0 0 1px #28c3d7;
  color: #28c3d7;
}

.btn-xs {
  padding: 0 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.modal .modal-body {
  font-size: 1rem;
}

.btn-warning {
  color: #000;
  background-color: #ffd950;
  border-color: #ffd950;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.float-right {
  float: right !important;
}

.icon {
  margin-right: 0.5rem;
}

.card {
  border: none;
}

.ui-w-30 {
  width: 30px !important;
  height: auto;
}

.ui-w-40 {
  width: 30px !important;
  height: auto;
}

.ui-w-50 {
  width: 50px !important;
  height: auto;
}

.ml-3 {
  margin-left: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group-justified .btn,
.btn-group-justified .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}

.btn-group-justified .btn .btn,
.btn-group-justified .btn-group .btn {
  width: 100%;
}

.pull-right {
  float: right;
}

.ui-bordered {
  border: 1px solid rgba(24, 28, 33, 0.06);
}

.badge-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rounded-circle {
  border-radius: 50% !important;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.container-p-y {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.text-tiny {
  font-size: 70% !important;
}

.sidenav-divider {
  width: 100%;
  border: 0;
  border-top: 1px solid;
  margin-bottom: 0.75rem;
  padding: 0;
  border-color: rgba(255, 255, 255, 0.06) !important;
}

.file-upload-btn {
  border: none;
  background: none;
  color: #1e70cd;
}

.form-check-label {
  cursor: pointer;
}

.login-form {
  width: 20%;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login-form form {
  padding: 1.5rem;
  border: solid #dee2e6;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.login-form form h3 {
  text-align: center;
  text-transform: uppercase;
}

.login-form form button {
  width: 100%;
}

.layout-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout-wrapper .layout-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
}

.layout-wrapper .layout-inner .layout-sidenav {
  background-color: #2f3337 !important;
  color: #9d9fa1;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.layout-wrapper .layout-inner .layout-sidenav .app-brand {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  padding-top: 1rem;
  height: 66px;
}

.layout-wrapper .layout-inner .layout-sidenav .app-brand span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-wrapper .layout-inner .layout-sidenav .app-brand span a {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item {
  margin: 0.0625rem 0;
  width: 15.625rem;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.75rem 2rem;
  color: #9d9fa1;
  text-decoration: none;
  border: none;
  background: transparent;
  width: 100%;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-link:focus {
  outline: none;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-link:hover {
  color: #fff;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-toggle:after {
  right: 2rem;
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 0.42em;
  height: 0.42em;
  border: 1px solid;
  border-top: 0;
  border-right: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  transition-property: -webkit-transform, transform;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-toggle.open:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-menu {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-menu .sidenav-item .sidenav-link {
  padding-left: 4rem;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-menu .sidenav-item .sidenav-link:hover {
  color: #fff;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-menu.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item.active {
  background-color: #393d41;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item.active .sidenav-link {
  color: #fff;
}

.layout-wrapper .layout-inner .layout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 0;
  min-width: 0;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layout-wrapper .layout-inner .layout-container .layout-navbar {
  min-height: 66px;
}

.layout-wrapper .layout-inner .layout-container .layout-content .desc-editor {
  border: 1px solid #ccc;
}

.layout-wrapper .layout-inner .layout-container .layout-content .desc-editor textarea {
  border: none;
}

.layout-wrapper .layout-inner .layout-container .layout-content .desc-editor .desc-footer {
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.layout-wrapper .layout-inner .layout-container .layout-content .desc-editor .desc-footer button {
  font-size: 14px;
}

.layout-wrapper .layout-inner .layout-container .layout-content .add-order-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.layout-wrapper .layout-inner .layout-container .layout-content .add-order-btn button {
  width: 100%;
}

.layout-wrapper .layout-inner .layout-container .layout-content .files-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
}

.layout-wrapper .layout-inner .layout-container .layout-content .files-group .file-element {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .files-group .file-element span {
  text-decoration: underline;
  color: #1e70cd;
}

.layout-wrapper .layout-inner .layout-container .layout-content .files-group .file-element button {
  border: none;
  background: none;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-type-btn-group {
  width: 100%;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-type-btn-group label a {
  text-decoration: none;
  color: #fff;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-table-section .row {
  margin-bottom: 0.5em;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-table-section .table-length label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-table-section .table-length label select {
  width: auto;
  display: inline-block;
  margin: 0 0.5rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-table-section .table-search label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-table-section .table-search input {
  width: auto;
  display: inline-block;
  margin-left: 0.5em;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-table-section .table th {
  font-size: 14px;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
  white-space: pre-wrap;
}

.layout-wrapper .layout-inner .layout-container .layout-content .cancel-order .form-group {
  margin-bottom: 0.5rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .content-chat .media-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-collapse .dropdown .dropdown-nav-button {
  background-color: transparent;
  border-color: transparent;
}

.navbar-collapse .dropdown .dropdown-nav-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-collapse .dropdown .dropdown-menu-navbar {
  right: 0;
  left: auto;
}

@media (min-width: 576px) {
  .text-sm-right {
    text-align: right !important;
  }
}

@media (max-width: 991px) {
  .login-form {
    width: 50%;
  }
  .layout-sidenav {
    position: fixed !important;
    top: 0 !important;
    height: 100% !important;
    left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    will-change: transform, -webkit-transform;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
/*# sourceMappingURL=index.css.map */