@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
  font-size: 0.894rem;
}

.shine {
  background: #e4e6eb;
  background-image: -webkit-gradient(linear, left top, right top, from(#e4e6eb), color-stop(20%, #dbdde0), color-stop(40%, #e4e6eb), to(#e4e6eb));
  background-image: linear-gradient(to right, #e4e6eb 0%, #dbdde0 20%, #e4e6eb 40%, #e4e6eb 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
          animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.dropdown-iconpicker {
  position: relative;
}

.dropdown-iconpicker .iconpicker-popover {
  z-index: 1050 !important;
}

.dropdown-iconpicker .popover {
  position: absolute;
  top: 30px !important;
  left: 0 !important;
  will-change: top, left;
  display: none;
}

.dropdown-iconpicker .popover {
  top: 0;
  left: 0;
  z-index: 1060;
  max-width: 276px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.47;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.75rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(24, 28, 33, 0.06);
  border-radius: 0.25rem;
  max-width: inherit !important;
}

.dropdown-iconpicker .popover-body {
  padding: 0.625rem 0.75rem;
  color: #4e5155;
}

.dropdown-iconpicker .iconpicker-popover .search-control {
  margin-bottom: 6px;
  margin-top: 6px;
}

.dropdown-iconpicker .table-icons .btn {
  min-height: 30px;
  min-width: 35px;
  text-align: center;
  padding: 0;
  margin: 2px;
}

.dropdown-iconpicker .btn-warning {
  background: #ffd950;
}

.dropdown-iconpicker .btn-warning,
.dropdown-iconpicker .btn-warning:hover {
  border-color: transparent;
  color: #665720;
}

.text-primary {
  color: #775cdc !important;
}

.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
  content: "";
  margin-top: -0.28em;
  width: 0.42em;
  height: 0.42em;
  border: 1px solid;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.iconpicker {
  min-width: 60px;
}

.iconpicker .caret {
  margin-left: 10px !important;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 0.188rem 0.6875rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn-outline-success {
  border-color: #02bc77;
  background: transparent;
  color: #02bc77;
}

.btn-outline-success:hover {
  border-color: transparent;
  background: #02bc77;
  color: #fff;
}

.btn-outline-info:hover {
  border-color: transparent;
  background: #28c3d7;
  color: #fff;
}

.btn-group-xs > .icon-btn.btn,
.icon-btn.btn-xs {
  width: calc(1.125rem + 2px);
  line-height: 1.125rem;
}

.sidebar_menu {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.sidebar_menu:focus {
  outline: none;
}

.modal .modal-body {
  font-size: 0.894rem !important;
}

.toggle_menu {
  color: #000;
  background-color: transparent;
  border: none;
}

.toggle_menu:hover {
  color: #9d9fa1;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.ps {
  position: relative;
}

.sidenav-vertical {
  width: 15.625rem;
}

.dropdown-menu {
  font-size: 0.894rem;
}

.spec {
  padding-top: 0.7rem;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-danger {
  background-color: #d9534f !important;
}

.bg-warning {
  background-color: #ffd950 !important;
}

.bg-primary {
  background-color: #775cdc !important;
}

.bg-info {
  background-color: #28c3d7 !important;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.small,
small {
  font-size: 85%;
  font-weight: 400;
}

.opacity-75 {
  opacity: 0.75 !important;
}

.opacity-25 {
  opacity: 0.25 !important;
}

.text-xlarge {
  font-size: 170% !important;
}

.form-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.filter-control {
  height: calc(1.5em + 0.376rem + 2px);
}

.f-select {
  padding: 0 1.75rem 0 0.75rem;
}

.p-s-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.datepicker-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.datepicker-control .react-datepicker-wrapper {
  margin-right: 10px;
}

.text-light {
  color: #babbbc !important;
}

.text-lightest {
  color: #e8e8e9 !important;
}

.text-danger {
  color: #d9534f !important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  opacity: 0.1;
}

.text-right {
  text-align: right !important;
}

.alert-dark-warning {
  background-color: #ffd950;
  color: #665720;
}

.alert-dark-danger {
  background-color: #d9534f;
  color: #fff;
}

.alert-dark-success {
  background-color: #02bc77;
  color: #fff;
}

.badge {
  font-weight: 400;
}

.badge-warning {
  background-color: #ffd950;
  color: #665720;
}

.badge-danger {
  background-color: #d9534f;
  color: #fff;
}

.badge-primary {
  background-color: #775cdc;
  color: #fff;
}

.badge-success {
  background-color: #02bc77;
  color: #fff;
}

.badge-outline-danger {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 1px #d9534f;
          box-shadow: inset 0 0 0 1px #d9534f;
  color: #d9534f;
}

.badge-outline-primary {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 1px #775cdc;
          box-shadow: inset 0 0 0 1px #775cdc;
  color: #775cdc;
}

.badge-outline-info {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 1px #28c3d7;
          box-shadow: inset 0 0 0 1px #28c3d7;
  color: #28c3d7;
}

.loading-in-center {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn-xs {
  padding: 0 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.modal .modal-body {
  font-size: 1rem;
}

.table > thead {
  vertical-align: middle;
}

.form-select,
.form-control {
  font-size: 0.894rem;
}

h5 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.4rem;
}

.btn {
  font-size: 0.894rem;
}

.btn-warning {
  color: #000;
  background-color: #ffd950;
  border-color: #ffd950;
}

.btn-primary {
  background: #775cdc;
  border-color: transparent;
  color: #fff;
}

.btn-primary:hover {
  background: #7157d1;
  border-color: #7157d1;
}

.btn-primary:focus {
  background: #7157d1;
  border-color: #7157d1;
}

.btn-primary:active {
  background: #7157d1;
  border-color: #7157d1;
}

.btn-outline-primary:active {
  background: #7157d1;
  border-color: #7157d1;
}

.btn-primary:disabled {
  background: #7157d1;
  border-color: #7157d1;
}

.btn-check:checked + .btn-outline-primary {
  background: #7157d1;
  border-color: #7157d1;
}

.btn-primary:focus,
.btn-outline-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-outline-primary {
  border-color: #775cdc;
  background: transparent;
  color: #775cdc;
}

.btn-outline-primary:hover {
  border-color: transparent;
  background: #775cdc;
  color: #fff;
}

.btn-default {
  border-color: rgba(24, 28, 33, 0.1);
  color: #4e5155;
}

.btn-default:hover {
  background: rgba(24, 28, 33, 0.06);
}

.btn-default {
  background: transparent;
}

.float-right {
  float: right !important;
}

.icon {
  margin-right: 0.5rem;
}

.card {
  border: none;
  word-wrap: normal;
}

.ui-w-30 {
  width: 30px !important;
  height: auto;
}

.ui-w-40 {
  width: 30px !important;
  height: auto;
}

.ui-w-50 {
  width: 70px !important;
  height: auto;
}

.ui-w-80 {
  width: 80px !important;
  height: auto;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group-justified .btn,
.btn-group-justified .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}

.btn-group-justified .btn .btn,
.btn-group-justified .btn-group .btn {
  width: 100%;
}

.pull-right {
  float: right;
}

.ui-bordered {
  border: 1px solid rgba(24, 28, 33, 0.06);
}

.badge-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rounded-circle {
  border-radius: 50% !important;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.container-p-y {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.text-tiny {
  font-size: 70% !important;
}

.form-switch .form-check-input {
  width: 3rem;
  height: 2rem;
}

.form-switch .form-check-label {
  margin-left: 0.5rem;
}

.sidenav-divider {
  width: 100%;
  border: 0;
  border-top: 1px solid;
  margin-bottom: 0.75rem;
  padding: 0;
  border-color: rgba(255, 255, 255, 0.06) !important;
}

.file-upload-btn {
  border: none;
  background: none;
  color: #1e70cd;
}

.form-check-label {
  cursor: pointer;
}

.login-form {
  width: 20%;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login-form form {
  padding: 1.5rem;
  border: solid #dee2e6;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.login-form form h3 {
  text-align: center;
  text-transform: uppercase;
}

.login-form form button {
  width: 100%;
}

.layout-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout-wrapper .layout-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
}

.layout-wrapper .layout-inner .layout-sidenav {
  background-color: #2f3337 !important;
  color: #9d9fa1;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.layout-wrapper .layout-inner .layout-sidenav .app-brand {
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  padding-top: 1rem;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout-wrapper .layout-inner .layout-sidenav .app-brand span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-wrapper .layout-inner .layout-sidenav .app-brand span a {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item {
  margin: 0.0625rem 0;
  width: 15.625rem;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 2rem;
  color: #9d9fa1;
  text-decoration: none;
  border: none;
  background: transparent;
  width: 100%;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-link svg {
  margin-right: 0.5rem;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-link .badge-count {
  margin-left: 1.5rem;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-link:focus {
  outline: none;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-link:hover {
  color: #fff;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-toggle:after {
  right: 2rem;
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 0.42em;
  height: 0.42em;
  border: 1px solid;
  border-top: 0;
  border-right: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  transition-property: -webkit-transform, transform;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-toggle.open:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-menu {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-menu .sidenav-item .sidenav-link {
  padding-left: 4rem;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-menu .sidenav-item .sidenav-link:hover {
  color: #fff;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item .sidenav-menu.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item.active {
  background-color: #393d41;
}

.layout-wrapper .layout-inner .layout-sidenav .sidenav-content .sidenav-item.active .sidenav-link {
  color: #fff;
}

.layout-wrapper .layout-inner .layout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 0;
  min-width: 0;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layout-wrapper .layout-inner .layout-container .layout-navbar {
  min-height: 66px;
}

.layout-wrapper .layout-inner .layout-container .layout-content {
  width: 100%;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-list-section-shimmer .media .media-body {
  width: 100%;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-list-section-shimmer .contact-content-about {
  width: 100%;
  margin-left: 0.5rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-list-section-shimmer .w-25 {
  width: 25%;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-list-section-shimmer .w-100 {
  width: 100%;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-list-section-shimmer .lines {
  height: 1rem;
  margin-top: 10px;
  width: 50%;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-list-section-shimmer .box {
  height: 70px;
  width: 70px !important;
  border-radius: 50% !important;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-list-section-shimmer .action-buttons {
  display: block !important;
  width: 100%;
  height: 3rem;
  margin-top: 15px;
}

.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .checkbox-select,
.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .w-checkbox-select {
  width: 100%;
  position: relative;
}

.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .checkbox-select.open .select-input,
.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .w-checkbox-select.open .select-input {
  border-bottom: none;
}

.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .checkbox-select.open .select-dropdown,
.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .w-checkbox-select.open .select-dropdown {
  display: block;
}

.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .checkbox-select .select-input,
.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .w-checkbox-select .select-input {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 2.5rem;
  padding: 0.2rem 0.5rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .checkbox-select .select-input .checked-inline-options,
.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .w-checkbox-select .select-input .checked-inline-options {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  width: 100%;
  list-style: none;
  padding: 0 0.375rem 0.375rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .checkbox-select .select-input .checked-item,
.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .w-checkbox-select .select-input .checked-item {
  background-color: rgba(24, 28, 33, 0.1);
  color: #4e5155;
  float: left;
  padding: 0 0.5rem;
  border-radius: 0.125rem;
  line-height: 1.5rem;
  cursor: default;
  margin-top: 0.375rem;
  margin-right: 0.375rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .checkbox-select .select-input .checked-item .checked-item__remove,
.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .w-checkbox-select .select-input .checked-item .checked-item__remove {
  display: inline-block;
  margin-right: 0.25rem;
  color: inherit;
  font-weight: 700;
  opacity: 0.5;
  cursor: pointer;
}

.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .checkbox-select .select-dropdown,
.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .w-checkbox-select .select-dropdown {
  display: none;
  position: relative;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  left: 0;
  right: 0;
  max-height: 12.5rem;
  overflow-y: auto;
}

.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .checkbox-select .select-list,
.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .w-checkbox-select .select-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .checkbox-select .select-item,
.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .w-checkbox-select .select-item {
  padding: 0.75rem;
  cursor: pointer;
}

.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .checkbox-select .select-item input,
.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .w-checkbox-select .select-item input {
  margin-right: 0.5rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .checkbox-select .select-item.checked,
.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .w-checkbox-select .select-item.checked {
  background-color: rgba(24, 28, 33, 0.06);
}

.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .checkbox-select .select-item:hover,
.layout-wrapper .layout-inner .layout-container .layout-content .create-order-section .w-checkbox-select .select-item:hover {
  background-color: #775cdc !important;
  color: #fff !important;
  -webkit-transition: 0.15s background-color ease-in;
  transition: 0.15s background-color ease-in;
}

.layout-wrapper .layout-inner .layout-container .layout-content .desc-editor {
  border: 1px solid #ccc;
}

.layout-wrapper .layout-inner .layout-container .layout-content .desc-editor textarea {
  border: none;
}

.layout-wrapper .layout-inner .layout-container .layout-content .desc-editor .desc-footer {
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.layout-wrapper .layout-inner .layout-container .layout-content .desc-editor .desc-footer button {
  font-size: 14px;
}

.layout-wrapper .layout-inner .layout-container .layout-content .add-order-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.layout-wrapper .layout-inner .layout-container .layout-content .add-order-btn button {
  width: 100%;
}

.layout-wrapper .layout-inner .layout-container .layout-content .files-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
}

.layout-wrapper .layout-inner .layout-container .layout-content .files-group .file-element {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .files-group .file-element span {
  text-decoration: underline;
  color: #1e70cd;
}

.layout-wrapper .layout-inner .layout-container .layout-content .files-group .file-element button {
  border: none;
  background: none;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-type-btn-group {
  width: 100%;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-type-btn-group label a {
  text-decoration: none;
  color: #fff;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-table-section .row {
  margin-bottom: 0.5em;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-table-section .table-length label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-table-section .table-length label select {
  width: auto;
  display: inline-block;
  margin: 0 0.5rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-table-section .table-search label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-table-section .table-search input {
  width: auto;
  display: inline-block;
  margin-left: 0.5em;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-table-section .table th {
  font-size: 0.894rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
  white-space: pre-wrap;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .card-title.with-elements {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .contact-content .contact-content-img {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0.125rem 1.25rem 0 0.25rem;
  width: 4rem;
  height: 4rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .card-title-elements {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .checkbox-select,
.layout-wrapper .layout-inner .layout-container .layout-content .order-section .w-checkbox-select {
  width: 100%;
  position: relative;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .checkbox-select.open .select-input,
.layout-wrapper .layout-inner .layout-container .layout-content .order-section .w-checkbox-select.open .select-input {
  border-bottom: none;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .checkbox-select.open .select-dropdown,
.layout-wrapper .layout-inner .layout-container .layout-content .order-section .w-checkbox-select.open .select-dropdown {
  display: block;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .checkbox-select .select-input,
.layout-wrapper .layout-inner .layout-container .layout-content .order-section .w-checkbox-select .select-input {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 2.5rem;
  padding: 0.2rem 0.5rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .checkbox-select .select-input .checked-inline-options,
.layout-wrapper .layout-inner .layout-container .layout-content .order-section .w-checkbox-select .select-input .checked-inline-options {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  width: 100%;
  list-style: none;
  padding: 0 0.375rem 0.375rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .checkbox-select .select-input .checked-item,
.layout-wrapper .layout-inner .layout-container .layout-content .order-section .w-checkbox-select .select-input .checked-item {
  background-color: rgba(24, 28, 33, 0.1);
  color: #4e5155;
  float: left;
  padding: 0 0.5rem;
  border-radius: 0.125rem;
  line-height: 1.5rem;
  cursor: default;
  margin-top: 0.375rem;
  margin-right: 0.375rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .checkbox-select .select-input .checked-item .checked-item__remove,
.layout-wrapper .layout-inner .layout-container .layout-content .order-section .w-checkbox-select .select-input .checked-item .checked-item__remove {
  display: inline-block;
  margin-right: 0.25rem;
  color: inherit;
  font-weight: 700;
  opacity: 0.5;
  cursor: pointer;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .checkbox-select .select-dropdown,
.layout-wrapper .layout-inner .layout-container .layout-content .order-section .w-checkbox-select .select-dropdown {
  display: none;
  position: relative;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  left: 0;
  right: 0;
  max-height: 12.5rem;
  overflow-y: auto;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .checkbox-select .select-list,
.layout-wrapper .layout-inner .layout-container .layout-content .order-section .w-checkbox-select .select-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .checkbox-select .select-item,
.layout-wrapper .layout-inner .layout-container .layout-content .order-section .w-checkbox-select .select-item {
  padding: 0.75rem;
  cursor: pointer;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .checkbox-select .select-item input,
.layout-wrapper .layout-inner .layout-container .layout-content .order-section .w-checkbox-select .select-item input {
  margin-right: 0.5rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .checkbox-select .select-item.checked,
.layout-wrapper .layout-inner .layout-container .layout-content .order-section .w-checkbox-select .select-item.checked {
  background-color: rgba(24, 28, 33, 0.06);
}

.layout-wrapper .layout-inner .layout-container .layout-content .order-section .checkbox-select .select-item:hover,
.layout-wrapper .layout-inner .layout-container .layout-content .order-section .w-checkbox-select .select-item:hover {
  background-color: #775cdc !important;
  color: #fff !important;
  -webkit-transition: 0.15s background-color ease-in;
  transition: 0.15s background-color ease-in;
}

.layout-wrapper .layout-inner .layout-container .layout-content .cancel-order .form-group {
  margin-bottom: 0.5rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .content-chat .media-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .checkbox-select,
.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .w-checkbox-select {
  width: 100%;
  position: relative;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .checkbox-select.open .select-input,
.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .w-checkbox-select.open .select-input {
  border-bottom: none;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .checkbox-select.open .select-dropdown,
.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .w-checkbox-select.open .select-dropdown {
  display: block;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .checkbox-select .select-input,
.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .w-checkbox-select .select-input {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 2.5rem;
  padding: 0.2rem 0.5rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .checkbox-select .select-input .checked-inline-options,
.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .w-checkbox-select .select-input .checked-inline-options {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  width: 100%;
  list-style: none;
  padding: 0 0.375rem 0.375rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .checkbox-select .select-input .checked-item,
.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .w-checkbox-select .select-input .checked-item {
  background-color: rgba(24, 28, 33, 0.1);
  color: #4e5155;
  float: left;
  padding: 0 0.5rem;
  border-radius: 0.125rem;
  line-height: 1.5rem;
  cursor: default;
  margin-top: 0.375rem;
  margin-right: 0.375rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .checkbox-select .select-input .checked-item .checked-item__remove,
.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .w-checkbox-select .select-input .checked-item .checked-item__remove {
  display: inline-block;
  margin-right: 0.25rem;
  color: inherit;
  font-weight: 700;
  opacity: 0.5;
  cursor: pointer;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .checkbox-select .select-dropdown,
.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .w-checkbox-select .select-dropdown {
  display: none;
  position: relative;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  left: 0;
  right: 0;
  max-height: 12.5rem;
  overflow-y: auto;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .checkbox-select .select-list,
.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .w-checkbox-select .select-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .checkbox-select .select-item,
.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .w-checkbox-select .select-item {
  padding: 0.75rem;
  cursor: pointer;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .checkbox-select .select-item input,
.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .w-checkbox-select .select-item input {
  margin-right: 0.5rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .checkbox-select .select-item.checked,
.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .w-checkbox-select .select-item.checked {
  background-color: rgba(24, 28, 33, 0.06);
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .checkbox-select .select-item:hover,
.layout-wrapper .layout-inner .layout-container .layout-content .profile .notification-tab .w-checkbox-select .select-item:hover {
  background-color: #775cdc !important;
  color: #fff !important;
  -webkit-transition: 0.15s background-color ease-in;
  transition: 0.15s background-color ease-in;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .with-errors .alert {
  margin: 1rem 1rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .with-errors .alert-whatsapp {
  margin: 1rem 0 !important;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .list-group button:focus {
  outline: none;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .list-group-flush:first-child .list-group-item:first-child {
  border-top: 0;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.1) !important;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .account-settings-links .list-group-item.active {
  background: transparent !important;
  font-weight: 700 !important;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .list-group-item + .list-group-item.active {
  margin-top: -1px;
  border-top-width: 0;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .profile-tabs {
  border-left: 1px solid rgba(24, 28, 33, 0.06);
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .media {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .media-body {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
}

.layout-wrapper .layout-inner .layout-container .layout-content .profile .account-settings-fileinput {
  position: absolute;
  visibility: inherit;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart {
  position: relative;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart > canvas {
  z-index: 2;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-slider {
  position: relative;
  margin-bottom: 1rem;
  z-index: 1;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-slider__right, .layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-slider__left {
  -webkit-transition: background 0.22s ease-in-out;
  transition: background 0.22s ease-in-out;
  background: #f5f9fb;
  opacity: 0.8;
  position: absolute;
  top: 0;
  bottom: 0;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-slider__left {
  left: 0;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-slider__right {
  right: 0;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-slider__arrow--left, .layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-slider__arrow--right {
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transition: background 0.22s ease-in-out;
  transition: background 0.22s ease-in-out;
  background: #ddeaf3;
  width: 4px;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-slider__arrow--left {
  right: 0;
  cursor: w-resize;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-slider__arrow--right {
  left: 0;
  cursor: e-resize;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-slider__window {
  position: absolute;
  background: transparent;
  top: 0;
  bottom: 0;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-tooltip {
  position: absolute;
  display: none;
  max-width: 200px;
  min-width: 120px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #dfe6eb;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  background: #fff;
  color: #000;
  overflow: hidden;
  z-index: 3;
  top: 50px;
  left: 100px;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-tooltip .tooltip-title {
  text-align: center;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-tooltip .tooltip-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-tooltip .tooltip-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-tooltip .tooltip-list-item .name {
  font-size: 0.8rem;
}

.layout-wrapper .layout-inner .layout-container .layout-content .dashboard-section .tg-chart .tg-chart-tooltip .tooltip-list-item .value {
  font-size: 1rem;
  font-weight: bold;
}

.layout-wrapper .layout-inner .layout-container .layout-content .help-section .card-hover[class] {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.layout-wrapper .layout-inner .layout-container .layout-content .help-section .card-hover[class]:not(:hover) {
  color: #4e5155 !important;
  border-color: transparent !important;
  background: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.layout-wrapper .layout-inner .layout-container .layout-content .help-section .text-body[href]:hover {
  color: #3c8ae2 !important;
}

.layout-wrapper .layout-inner .layout-container .layout-content .help-section a,
.layout-wrapper .layout-inner .layout-container .layout-content .help-section a:hover {
  text-decoration: none;
}

.layout-wrapper .layout-inner .layout-container .layout-content .help-section .dd,
.layout-wrapper .layout-inner .layout-container .layout-content .help-section .dd-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.layout-wrapper .layout-inner .layout-container .layout-content .help-section .dd .dd-item,
.layout-wrapper .layout-inner .layout-container .layout-content .help-section .dd-list .dd-item {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.layout-wrapper .layout-inner .layout-container .layout-content .help-section .dd .dd-item .dd-handle,
.layout-wrapper .layout-inner .layout-container .layout-content .help-section .dd-list .dd-item .dd-handle {
  border: 0;
  float: left;
  margin: 1px;
  font-size: 0.625rem;
  line-height: 1.25rem;
  padding: 0.3125rem 0.75rem;
  display: block;
}

.layout-wrapper .layout-inner .layout-container .layout-content .help-section .dd .dd-item .dd-handle .dd-icon,
.layout-wrapper .layout-inner .layout-container .layout-content .help-section .dd-list .dd-item .dd-handle .dd-icon {
  vertical-align: middle;
}

.layout-wrapper .layout-inner .layout-container .layout-content .help-section .dd .dd-item .dd-content,
.layout-wrapper .layout-inner .layout-container .layout-content .help-section .dd-list .dd-item .dd-content {
  border: 1px solid rgba(24, 28, 33, 0.1);
  border-radius: 0.25rem;
  margin: 0.3125rem 0;
  padding: 0.3125rem 0.75rem;
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-collapse .dropdown .dropdown-nav-button {
  background-color: transparent;
  border-color: transparent;
}

.navbar-collapse .dropdown .dropdown-nav-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-collapse .dropdown .dropdown-menu-navbar {
  right: 0;
  left: auto;
}

@media (min-width: 576px) {
  .text-sm-right {
    text-align: right !important;
  }
}

@media (min-width: 768px) {
  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important;
  }
}

@media (max-width: 991px) {
  .login-form {
    width: 90%;
  }
  .datepicker-control {
    display: block;
  }
  .layout-expanded .layout-sidenav {
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
  }
  .layout-sidenav {
    z-index: 1100;
  }
  .sidenav-vertical {
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .layout-sidenav {
    position: fixed !important;
    top: 0 !important;
    height: 100% !important;
    left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    will-change: transform, -webkit-transform;
  }
  .layout-overlay {
    z-index: 1099;
  }
  .layout-overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100% !important;
    left: 0;
    display: none;
    background: #181c21;
    opacity: 0.5;
    cursor: pointer;
  }
  .toggle_menu {
    display: none;
  }
}

@media (min-width: 992px) {
  .container-m-nx {
    margin-right: -2rem !important;
    margin-left: -2rem !important;
  }
  .container-fluid {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .layout-collapsed .layout-sidenav .app-brand {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 4.375rem;
  }
  .layout-collapsed .layout-sidenav .app-brand span {
    margin-right: auto;
    margin-left: auto;
  }
  .layout-collapsed .layout-sidenav .app-brand span .logo_title {
    display: none;
  }
  .layout-collapsed .layout-sidenav .app-brand .toggle_menu {
    display: block;
  }
  .layout-collapsed .layout-sidenav.sidenav-vertical {
    width: 4.375rem;
  }
  .layout-collapsed .layout-sidenav.sidenav-vertical .sidenav-content > .sidenav-item {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 100%;
  }
  .layout-collapsed .layout-sidenav.sidenav-vertical .sidenav-content > .sidenav-item > .sidenav-link {
    padding: 0.75rem 1.6rem;
  }
  .layout-collapsed .layout-sidenav.sidenav-vertical .sidenav-content > .sidenav-item > .sidenav-link .sidetitle {
    display: none;
  }
  .layout-collapsed .layout-sidenav.sidenav-vertical .sidenav-content > .sidenav-item > .sidenav-link .side_badge {
    display: none;
  }
  .layout-collapsed .layout-2 .layout-sidenav {
    z-index: 1085 !important;
  }
  .layout-collapse .layout-container {
    width: calc(100% - 4.375rem) !important;
    left: 4.375rem !important;
  }
}

@media (max-width: 1601px) {
  body,
  .btn,
  .form-select,
  .form-control {
    font-size: 0.7rem !important;
  }
  h5 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .layout-wrapper .layout-inner .layout-sidenav .app-brand span a {
    font-size: 20px;
  }
  .layout-wrapper
.layout-inner
.layout-container
.layout-content
.order-table-section
.table
th {
    font-size: 0.7rem;
  }
  .dropdown-menu {
    font-size: 0.7rem;
    min-width: 8rem;
  }
  .modal .modal-body {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=index.css.map */